<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Creating a new rule</h1>

      <%= render 'form', limit_ip_path: @limit_ip_path %>

      <%= link_to 'Back', limit_ip_paths_path %>
    </div>
  </div>
</div>
